body {
  padding: 0;
  margin: 0;
  background-color: #080808;
  color: wheat;
}

a {
  text-decoration: none;
  color: wheat;
  position: relative;
}

.header {
  padding: 10px 126.875px;
  font-size: 26px;
  background: black;
}

.container {
  display: inline-flex;
}

.nav {
  float: right;
  margin-left: 500px;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: -100%;
  transition: left 0.3s ease-in-out;
}

.nav ul li a:hover::after {
  left: 0;
}

.nav ul li a:hover::after,
.nav ul li a::after {
  left: 0;
  width: 100%;
  background: #ff004f;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

.nav ul li a:hover::after {
  width: 100%;
  right: 0;
}

.nav ul li a::after {
  width: 0;
  right: 100%;
}

.content1 {
  margin-top: 10px;
  display: flex;
}

.info {
  flex: 0 0 80%;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.image-container {
  flex: 0 0 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 86px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.about_me {
  padding: 10px 119.43px;
  margin-right: 10px;
  display: flex;
}

.ctext {
  padding-left: 70px;
}

.ctext ul li {
  display: inline;
  padding-right: 20px;
  margin-bottom: 10px;
}

.ctext ul {
  margin-left: -43px;
}
.ctext .skills,
.ctext .experience,
.ctext .education {
  display: none;
}

.ctext .content-visible {
  display: block;
}

.ctext ul li a.active {
  text-decoration: underline;
}

#second li a.active {
  text-decoration: none;
  font-weight: bold;
}

#second li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

#second li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#second li a:hover::after,
#second li a.active::after {
  background-color: #ff004f;
}

.services {
  padding: 10px 119.43px;
  margin-right: 10px;
  justify-content: space-around;
  align-items: center;
}

.card_container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  background-color: darkgray;
  display: inline-block;
  align-self: center;
  width: 20%;
  padding: 40px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #ff004f;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.works {
  padding: 10px 119.43px;
  margin-right: 10px;

}

.workcard {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 360px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.work_container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.workcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(230, 27, 27, 0.2);
 }

.workcard img {
  width: 300px;
  height: 360px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 360px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(255, 0, 79, 0.4);
  transition: opacity 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.workcard:hover .content {
  opacity: 1;
 }

.content p {
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: space-around;

}

.btn a {
  margin: 50px 394px;
  padding: 14px 50px;
  border: 1px solid #ff004f;
  border-radius: 6px;
  text-align: center;
}

.btn a:hover {
  background: #ff004f;
  transition: background 0.432s;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.contact {
  padding: 10px 120px;
  display: flex;
  justify-content: left;

}

.contact .details {
  width: 30%;
}

.material-symbols-outlined {
  padding: 10px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.a1 {
  display: flex;

}

.addon {
  padding-top: 10px;
}

.social img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cv input {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #ff004f;
  color: white;
  font-size: large;
  border-radius: 10px;
  margin-top: 40px;
}

.contactform {

  padding: 10px;
}

.contactform input {
  color: white;
  background-color: #333;

  height: 51px;
  margin: 15px 0;
  width: 100%;
}

textarea {
  color: white;
  background-color: #333;

  width: 800px;
  height: 30%;
 }
#submit{
  margin-top: -1px;
background: #ff004f;
border-radius: 10px;
padding:  10px 5px;
width: 15%;
height: 20%;
}

.footer{
  margin: 0;
  background-color: #333;
  width: 100%;
  padding-top: 1px ;
  padding-bottom: 1px;
  text-align: center;
}
@media screen and (max-width: 800px)
{
  body,.header,.content1,.about_me,.services,.works,.contact,.footer{
    margin: 2px;
    padding: 5px;
    font-size: small;

  }

  .nav {
    float: right;
    margin-left: 0px;
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: -20px;
    margin-right: -10px;
    

  }
  .nav ul li a{

padding: -100px;
  }
  .about_me {
    padding: 10px;

    display: block;
  }
  .about_me .ctext{
    padding: 0;

    width: 300px;
  }
  #second{
    display: flex;
  }
  
    .card_container {
      display: inline-block;
      justify-content: center;
      align-items: center;   

  }
  .card{
    display: block  ;
    width: 60%;
    margin-top: 30px;
  }
  
.works {
margin: 10px;

}

.workcard {

  position: relative;
  overflow: hidden;
  width: 303px;
  font-size: small    ;
  height: 333px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(224, 57, 57, 0.1);
  margin: 10px;
}

.work_container {
  display: block;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
 }

.workcard:hover {
  transform: translateY(-5px);
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 303px;
  height: 333px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(255,
   254, 254, 0.0);
  transition: opacity 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.workcard img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.contact {
  padding-left: 20px;
  display: inline;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.contact .details h1{
  width: 200px;
}
.social{
  display: flex;
}
textarea{
  width: 100%;
  height: 60px;
}
#submit{
  margin-top: -1px;
background: #ff004f;
border-radius: 10px;
padding:  10px 5px;
width: 30%;
height: 20%;
}
.footer{
  font-size: small;
  width: 100%;
}
#btn1
{
  margin: -10px;
margin-top: 1px;
margin-left:-85%;
margin-bottom: 10px;
}
.image-container{
  margin-left: -190px;
}
.header
{
  padding: -10px;
}
.nav{
  margin-left: -16px;
}
.photo{
  display: block;
  justify-items: center;
  align-items: center;
  padding-left: 15px;
}
.photo img{
  padding-right: 0px;
  width: 80%;
border-radius: 50%;
}
}
